<h1>Home#results</h1>
<p>Find me in app/views/home/results.html.erb</p>

<h1>Here's where you can eat <%= params[:term] %> in <%= params[:address] %></h1>

<% if notice  %>
  <p><%= notice %></p>
<% end %>	

<div class="container">
	<div class="row" >
		<% @restaurants.each do |r| %>
			<div class="col-md-4">
				<div class="well center-it">
					<p><%= image_tag r.image, class: "yelp-image" %></p>
	        <h3><%= r.name %></h3>
	        <h4><%= link_to "Visit Profile", r.url %></h4>
	        <p>
	          <%= r.address %>
	        </p>
	        <p>
	          <%= r.address2 %>
	        </p><p>
	          <%= r.address3 %>
	        </p>
	        <p>
	          <%= r.city %>
	        </p>
	        <p>
	          <%= r.phone %>
	        </p>
	        <p>
	          <%= r.price %>
	        </p>
	        <p>
	          <%  r.rating.times do %>
	          	 <span class="glyphicon glyphicon-star"></span>
	          <% end %>	 
	        </p>
	      </div>
      </div>
    <% end %>
  </div>
</div>

<h3>
	<%= link_to "Search Again...", root_path, class: 'btn btn-primary' %>
</h3>